
<h1>Complete Account Info</h1>

<h2>Personal Information</h2>

<%= form_with(scope: :post, url: editors_account_save_path(@editor), class: "my-form") do |form| %>
  <input type="hidden" name="accountToken" id="accountToken">

<p><legend>Legal Name</legend></p>  
  <label>    
    <span>First Name</span>
    <input class="inp-first-name" name="first_name" value= <%= @editor.first_name %> >
  </label>
  <label>
    <span>Last Name</span>
    <input class="inp-last-name" name="last_name" value= <%= @editor.last_name %> >
  </label>

  <label>
    <span>Social Security Number (Last 4 Digits)</span>
    <input class="inp-ssn_last_4" name="inp-ssn_last_4" size=4 maxlength=4 required >
  </label> 

  <fieldset>
 <p><legend>Address</legend></p>
    <label>
      <span>Street Address Line 1</span>
      <input class="inp-street-address1" name="street_address1" required>
    </label>
    <label>
      <span>City</span>
      <input class="inp-city" name="city" required>
    </label>
    <label>
      <span>State</span>
      <input class="inp-state" name="state" size=2 maxlength=2 required
    </label>
    <label>
      <span>Postal Code</span>
      <input class="inp-zip" name="zip" required>
    </label>  
  <button>Submit</button>

<% end %>

<%= javascript_include_tag "stripe_account_token" %>