<h1>New Editor</h1>

<%= render 'form', editor: @editor %>

<p>By registering your Editor account you agree to the <%= link_to("Stripe Connected Account Agreement.", "https://stripe.com/us/connect-account/legal") %></p>


<%= link_to 'Back', editors_path %>
