<h1>Checkout</h1>

<div class="checkout_container">
    <h2>Purchase Details</h2>

    <form action="/charges" method="post" id="payment-form">
    	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      
      <label>
          <span>Name on Card</span>
          <input name="cardholder-name" class="field" id="cardholder-name" required>
      </label>
      <label>
          <span>Address</span>
          <input name="address" class="field" required>
      </label>
      <label>
          <span>City</span>
          <input name="city" type="field" class="field" required>
      </label>
          <span>State</span>
          <input name="state" type="field" class="field" width=2 required>
      </label>

      <div class="form-row">
        
        <div id="card-element">
          <!-- A Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display form errors. -->
        <div id="card-errors" role="alert"></div>
        </div>

      <button class="stripe-button">Submit Payment</button>
    </form>

    <%= javascript_include_tag "stripe_elements" %>

</div>

<%= link_to 'Back', charges_path %>
