<h1>Stripe Test Implementations</h1>

<div class="checkout_container">
    <h2>Stripe Elements</h2>

    <form action="/charges" method="post" id="payment-form">
    	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="form-row">
        <label>
          <span>First Name</span>
          <input name="first_name" class="field" placeholder="Jenny" required>
        </label>
        <label>
          <span>Last Name</span>
          <input name="last_name" class="field" placeholder="Battery" required>
        </label>
        <label>
          <span>Email</span>
          <input name="email" type="email" class="field" placeholder="jenny@example.com" required>
        </label>
        <div id="card-element">
          <!-- A Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display form errors. -->
        <div id="card-errors" role="alert"></div>
      </div>

      <button class="stripe-button">Submit Payment</button>
    </form>

    <%= javascript_include_tag "stripe_elements" %>

    <div>
      <p>Returning customer?</p>
    </div>  

</div>

<%= link_to 'Back', charges_path %>
